#index {
    display: grid;
    grid-template-rows: 80% auto;
    grid-template-areas:
        "main"
        "logo";
    min-height: 100vh;
}

.cuerpo {
    grid-area: main;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../imagenes/RENDER-PRINCIPAL-OPTIMIZADO.jpg);
    background-position: map-get($imagen-fondo, posicion);
    background-repeat: map-get($imagen-fondo, repeticion);
    background-size: map-get($imagen-fondo, tamaño);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% auto;
    min-height: 100%;
    min-width: 100%;
    grid-template-areas:
        "navegacion"
        ".";
}

.texto-estilo {
    text-transform: uppercase;
    text-align: center;
    color: $blanco;
}

@mixin flex ($flex-direction, $justify-content, $align-items) {
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.navegacion-index {
    grid-area: navegacion;
    height: 100%;
    width: 100vw;
    display: flex;
    @include flex(row, center, center);
    gap: 10rem;

    li {
        list-style-type: none;
        width: 25rem;
        text-align: center;
    }

    a {
        @extend .texto-estilo;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem;

        &:hover {
            color: $negro;
        }
    }

    .texto-submenu a {
        text-align: center !important;
        width: 92%;
    }
}

.seccion-logo {
    grid-area: logo;

    .contenido-index {
        background-color: $grisTransparente;
        width: 100%;
        height: 100%;
        display: flex;
        @include flex(row, center, center);


        h1 {
            font-size: 5rem;
            width: 38rem;
            @extend .texto-estilo;
        }

        img {
            width: 20rem;
            padding: 1rem;
        }
    }
}


@media screen and (max-width: 1280px) {
    .navegacion-index {
        gap: 7rem;
    }

    .seccion-logo .contenido-index h1 {
        font-size: 4rem;
        width: 30rem;
    }

    .seccion-logo .contenido-index img {
        width: 15rem;
    }
}

@media screen and (max-width: 768px) {
    .navegacion-index {
        gap: 0;
    }

    .seccion-logo .contenido-index h1 {
        font-size: 3.5rem;
        width: 26rem;
    }

    .seccion-logo .contenido-index img {
        width: 13rem;
    }
}

@media screen and (max-width: 630px) {

    .cuerpo {
        grid-template-rows: 30% 50% 25%;
    }

    .navegacion-index {
        @include flex(column, center, center);
        gap: 2rem;
        background-color: $grisTransparente-claro;

        a {
            font-size: 2.5;
        }
    }

    .seccion-logo .contenido-index h1 {
        font-size: 2.5rem;
        width: 19rem;
    }

    .seccion-logo .contenido-index img {
        width: 8rem;
    }
}

@media screen and (max-width: 480px) {
    .cuerpo {
        grid-template-rows: 25% 40% 25%
    }

    .contenido-index img {
        width: 9rem;
    }

    .contenido-index h1 {
        width: 20rem;
        font-size: 2.5rem;
    }
}