#index {
    display: grid;
    grid-template-rows: 80% auto;
    grid-template-areas:
        "main"
        "logo";
    min-height: 100vh;

    .cuerpo {
        grid-area: main;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../imagenes/RENDER-PRINCIPAL-OPTIMIZADO.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% auto;
        max-height: 100vh;
        max-width: 100%;
        grid-template-areas:
            "navegacion"
            ".";

        .navegacion-index {
            grid-area: navegacion;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10rem;

            li {
                list-style-type: none;
                width: 25rem;
                text-align: center;
            }

            a {
                text-transform: uppercase;
                text-align: center;
                color: $blanco;
                text-decoration: none;
                font-size: 2rem;
                font-weight: 500;
                padding: 1rem;

                &:hover {
                    color: $negro;
                }
            }

            .texto-submenu a {
                text-align: center !important;
                width: 92%;
            }
        }
    }

    .seccion-logo {
        grid-area: logo;

        .contenido-index {
            background-color: $grisTransparente;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 5rem;
                width: 38rem;
                text-transform: uppercase;
                color: $blanco;
            }

            img {
                width: 20rem;
                padding: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    #index {
        .cuerpo {
            .navegacion-index {
                gap: 0;
            }
        }

        .seccion-logo {

            .contenido-index {
                img {
                    width: 12rem;
                }

                h1 {
                    font-size: 4rem;
                    width: 28rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #index {
        .cuerpo {
            .navegacion-index {
                gap: 0;
            }
        }

        .seccion-logo {

            .contenido-index {
                img {
                    width: 13rem;
                }

                h1 {
                    font-size: 4rem;
                    width: 28rem;
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    #index {
        .cuerpo {
            grid-template-rows: 15% 50% 25%;


            .navegacion-index {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                background-color: $grisTransparente-claro;

                a {
                    font-size: 2.5;
                }
            }
        }

        .seccion-logo {

            .contenido-index {
                img {
                    width: 15rem;
                }

                h1 {
                    font-size: 3.4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #index {
        .cuerpo {
            grid-template-rows: 22% 40% 25%
        }

        .seccion-logo {
            .contenido-index {

                img {
                    width: 8rem;
                }

                h1 {
                    width: 18rem;
                    font-size: 2.5rem;
                }
            }
        }
    }
}