* {
  /* Reseteo */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #363434;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Constantes de colores*/
.sombraOscura {
  -webkit-box-shadow: 0px 13px 14px 9px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0px 13px 14px 9px rgba(0, 0, 0, 0.95);
  box-shadow: 0px 13px 14px 9px rgba(0, 0, 0, 0.95);
}

.sombraClara {
  -webkit-box-shadow: 0px 6px 11px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 6px 11px 4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 6px 11px 4px rgba(0, 0, 0, 0.47);
}

#index {
  display: grid;
  grid-template-rows: 80% auto;
  grid-template-areas: "main"
    "logo";
  min-height: 100vh;
}

#index .cuerpo {
  grid-area: main;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../imagenes/RENDER-PRINCIPAL-OPTIMIZADO.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% auto;
  min-height: 100%;
  min-width: 100%;
  grid-template-areas: "navegacion"
    ".";
}

#index .cuerpo .navegacion-index {
  grid-area: navegacion;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#index .cuerpo .navegacion-index li {
  list-style-type: none;
  width: 25rem;
  text-align: center;
}

#index .cuerpo .navegacion-index a {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}

#index .cuerpo .navegacion-index a:hover {
  color: #000000;
}

#index .cuerpo .navegacion-index .texto-submenu a {
  text-align: center !important;
  width: 92%;
}

#index .seccion-logo {
  grid-area: logo;
}

#index .seccion-logo .contenido-index {
  background-color: rgba(37, 36, 36, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index .seccion-logo .contenido-index h1 {
  font-size: 5rem;
  width: 38rem;
  text-transform: uppercase;
  color: #ffffff;
}

#index .seccion-logo .contenido-index img {
  width: 20rem;
  padding: 1rem;
}

@media screen and (max-width: 1280px) {
  #index .cuerpo .navegacion-index {
    gap: 0;
  }

  #index .seccion-logo .contenido-index img {
    width: 14rem;
  }

  #index .seccion-logo .contenido-index h1 {
    font-size: 4.5rem;
    width: 32rem;
  }
}

@media screen and (max-width: 768px) {
  #index .cuerpo .navegacion-index {
    gap: 0;
  }

  #index .seccion-logo .contenido-index img {
    width: 13rem;
  }

  #index .seccion-logo .contenido-index h1 {
    font-size: 4rem;
    width: 28rem;
  }
}

@media screen and (max-width: 630px) {
  #index .cuerpo {
    grid-template-rows: 15% 50% 25%;
  }

  #index .cuerpo .navegacion-index {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(37, 36, 36, 0.4);
  }

  #index .cuerpo .navegacion-index a {
    font-size: 2.5;
  }

  #index .seccion-logo .contenido-index img {
    width: 15rem;
  }

  #index .seccion-logo .contenido-index h1 {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 480px) {
  #index .cuerpo {
    grid-template-rows: 22% 40% 25%;
  }

  #index .seccion-logo .contenido-index img {
    width: 8rem;
  }

  #index .seccion-logo .contenido-index h1 {
    width: 18rem;
    font-size: 2.5rem;
  }
}

/*NAVEGACION PARA PAGINAS: INICIO, INTERIORES, EXTERIROES, CONTACTO.*/
.nav {
  background-color: rgba(37, 36, 36, 0.4);
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  gap: 2rem;
}

.nav .logo {
  width: 7rem;
}

.nav ul {
  display: flex;
  gap: 10rem;
  list-style-type: none;
  text-align: center;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: var(--blanco);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}

.nav a:hover {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 12rem;
    justify-content: center;
  }

  .nav a {
    font-size: 2rem;
  }

  .nav ul {
    gap: 3rem;
  }
}

@media screen and (max-width: 630px) {
  .nav {
    height: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding: 0;
  }

  .nav .logo {
    width: 12rem;
    padding: 1rem;
  }

  .nav a {
    font-size: 2rem;
    padding: 2rem;
  }

  .nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 0;
  }

  .nav li {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    background-color: rgba(37, 36, 36, 0.4);
  }
}

/*PIE DE PAGINA PARA PAGINAS: INICIO, INTERIORES, EXTERIROES, CONTACTO.*/
.pie-pagina {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #252424;
  height: 10rem;
}

.pie-pagina .iconos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie-pagina .logo-footer {
  width: 7rem;
}

.pie-pagina .parrafo-footer {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  color: #ffffff;
}

@media screen and (max-width: 630px) {
  .pie-pagina {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 35rem;
    padding: 1.5rem;
  }

  .pie-pagina .iconos-footer {
    flex-direction: column;
  }

  .pie-pagina .parrafo-footer {
    font-size: 2rem;
  }

  .pie-pagina .logo-footer {
    width: 5rem;
  }

  .pie-pagina .logo-enlace {
    order: -1;
  }
}

/*PAGINA INTERIORES Y EXTERIORES*/
#interiores {
  display: grid;
  grid-template-rows: 110% 10%;
  grid-template-areas: "cuerpo"
    "footer";
  width: 100vw;
  gap: 10rem;
  overflow-x: hidden;
}

#interiores .cuerpo-galeria {
  grid-area: cuerpo;
  display: grid;
  grid-template-rows: 10% 5% auto;
  grid-template-areas: "encabezado"
    "titulo"
    "imagenes";
  gap: 3rem;
}

#interiores .cuerpo-galeria .encabezado-galeria {
  grid-area: encabezado;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../imagenes/inte.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

#interiores .cuerpo-galeria .titulo-galeria {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#interiores .cuerpo-galeria .titulo-galeria h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 7rem;
  font-weight: 500;
  color: #ffffff;
  padding: 2rem;
}

#interiores .cuerpo-galeria .titulo-galeria .icono {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  visibility: visible;
}

#interiores .cuerpo-galeria .titulo-galeria .icono p {
  font-size: 3rem;
  color: #8d8d8d;
}

#interiores .cuerpo-galeria .galeria-imagenes {
  grid-area: imagenes;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

#interiores .cuerpo-galeria .galeria-imagenes div {
  width: 50%;
  height: 20%;
  border-radius: 4rem;
  transition: 5s;
  margin: 2rem;
}

#interiores .cuerpo-galeria .galeria-imagenes .imagen {
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}

#interiores .footer-grid {
  grid-area: footer;
}

@media screen and (min-width: 1024px) {
  #interiores .cuerpo-galeria .galeria-imagenes div:hover {
    width: 80%;
    height: 25%;
  }
}

@media screen and (max-width: 768px) {
  #interiores .cuerpo-galeria {
    grid-template-rows: 10% 3% auto;
  }

  #interiores .cuerpo-galeria .titulo-galeria {
    display: block;
    height: 12rem;
  }

  #interiores .cuerpo-galeria .titulo-galeria h1 {
    font-size: 5rem;
  }

  #interiores .cuerpo-galeria .titulo-galeria .icono {
    visibility: hidden;
  }

  #interiores .cuerpo-galeria .galeria-imagenes div {
    width: 90%;
    height: 40%;
  }
}

@media screen and (max-width: 630px) {
  #interiores {
    grid-template-rows: 87% 20%;
    gap: 0;
  }

  #interiores .cuerpo-galeria {
    grid-area: cuerpo;
    display: grid;
    grid-template-rows: 100vh auto;
    grid-template-areas: "encabezado"
      "titulo"
      "imagenes";
    gap: 3rem;
  }

  #interiores .cuerpo-galeria .encabezado-galeria {
    grid-area: encabezado;
  }

  #interiores .cuerpo-galeria .titulo-galeria {
    display: block;
    position: absolute;
    top: 65%;
  }

  #interiores .cuerpo-galeria .titulo-galeria h1 {
    font-size: 5rem;
    color: #68829E;
    font-weight: 700;
  }

  #interiores .cuerpo-galeria .galeria-imagenes {
    grid-area: imagenes;
    justify-content: start;
    gap: 2rem;
  }

  #interiores .cuerpo-galeria .galeria-imagenes div {
    height: 12%;
    border-radius: 2rem;
  }

  #interiores .cuerpo-galeria .galeria-imagenes div .imagen {
    border-radius: 2rem;
  }
}

/*PAGINA DE CONTACTO*/
#contacto {
  display: grid;
  grid-template-rows: 15% auto 15%;
  grid-template-areas: "navegacion"
    "cuerpo"
    "footer";
  width: 100vw;
  overflow-x: hidden;
}

#contacto .contactanos {
  grid-area: navegacion;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
}

#contacto .contactanos .titulo-contacto {
  height: calc(100% - 9rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacto .contactanos .titulo-contacto h1 {
  font-size: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #68829E;
}

#contacto .cuerpo-contacto {
  grid-area: cuerpo;
  min-width: 100%;
}

#contacto .cuerpo-contacto .redes {
  margin-top: 2rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

#contacto .cuerpo-contacto .redes article div {
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contacto .cuerpo-contacto .recuadro-ubicacion {
  margin-top: 12rem;
  background-color: rgba(37, 36, 36, 0.4);
  height: 50rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20rem;
}

#contacto .cuerpo-contacto .recuadro-ubicacion h2 {
  font-size: 7rem;
  color: #68829E;
  text-align: center;
  text-transform: uppercase;
}

#contacto .cuerpo-contacto .recuadro-ubicacion p {
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

#contacto .cuerpo-contacto .recuadro-ubicacion .ubicacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#contacto .cuerpo-contacto .recuadro-ubicacion .mapa {
  width: 50%;
}

#contacto .cuerpo-contacto .formulario {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  width: 40%;
  border-radius: 3rem;
  padding: 5rem;
  margin-bottom: 10rem;
}

#contacto .cuerpo-contacto .formulario div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contacto .cuerpo-contacto .formulario label {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

#contacto .cuerpo-contacto .formulario input,
#contacto .cuerpo-contacto .formulario textarea {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
}

#contacto .cuerpo-contacto .formulario .boton {
  border-radius: 1rem;
  width: 30%;
  height: 4rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: rgba(37, 36, 36, 0.9);
}

#contacto .footer-contacto {
  grid-area: footer;
}

@media screen and (max-width: 1024px) {
  #contacto .cuerpo-contacto .redes {
    gap: 7rem;
  }

  #contacto .cuerpo-contacto .formulario {
    width: 60%;
    border-radius: 2rem;
    padding: 4rem;
  }
}

@media screen and (max-width: 768px) {
  #contacto {
    grid-template-rows: 15% auto 15%;
    grid-template-areas: "navegacion"
      "cuerpo"
      "footer";
    min-height: 100vh;
    width: 100%;
  }

  #contacto .contactanos {
    grid-area: navegacion;
    width: 100vw;
  }

  #contacto .cuerpo-contacto {
    grid-area: cuerpo;
  }

  #contacto .cuerpo-contacto .redes {
    width: 100vw;
    gap: 0rem;
  }

  #contacto .cuerpo-contacto .redes article div {
    width: 20rem;
    height: 20rem;
    margin: 2rem;
  }

  #contacto .cuerpo-contacto .recuadro-ubicacion {
    margin-top: 0rem;
    height: 65rem;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
  }

  #contacto .cuerpo-contacto .recuadro-ubicacion .mapa {
    width: 80%;
    height: 35rem;
  }
}

@media screen and (max-width: 630px) {
  #contacto {
    grid-template-rows: 100vh auto 15%;
    grid-template-areas: "navegacion"
      "cuerpo"
      "footer";
    min-height: 100vh;
    width: 100%;
  }

  #contacto .contactanos {
    grid-area: navegacion;
  }

  #contacto .contactanos .titulo-contacto {
    height: 20rem;
  }

  #contacto .contactanos .titulo-contacto h1 {
    font-size: 5rem;
  }

  #contacto .cuerpo-contacto {
    grid-area: cuerpo;
  }

  #contacto .cuerpo-contacto .redes {
    height: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contacto .cuerpo-contacto .redes article div {
    width: 20rem;
    height: 20rem;
    margin: 2rem;
  }

  #contacto .cuerpo-contacto .recuadro-ubicacion {
    margin-top: 5rem;
  }

  #contacto .cuerpo-contacto .recuadro-ubicacion h2 {
    font-size: 5.5rem;
  }

  #contacto .cuerpo-contacto .recuadro-ubicacion p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 630px) {
  #contacto .contactanos .titulo-contacto h1 {
    font-size: 4rem;
  }
}